@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&family=Poppins:wght@300;400;500;600;700&display=swap");
/* Default */
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-size: 17px;
  line-height: 25px;
  font-weight: 400;
  color: #828282;
  background-color: #000;
}
.alt-font { font-family: "poppins", sans-serif; }
address, a { margin-bottom: 0; display: inline-block; width: auto; text-decoration: none; }
section { padding: 100px 0; overflow: hidden; }
.container { max-width: 1670px; }
h1, h2, h3, h4, h5, h6, a { font-family: "poppins", sans-serif; }
h2 { font-size: 50px; line-height: 60px; }
h4 { font-size: 22px; line-height: 30px; }
h6 { font-size: 17px; line-height: 25px; }

/* Button */
.btn {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  padding: 16px 50px;
  color: #fff;
  background: linear-gradient(90deg, #00ffd4, #23ff26, #00ffd4);
  background-size: 200%;
  box-shadow: 0 5px 15px rgba(35, 35, 35, 0.16);
  transition: 0.3s ease-in-out;
}
.btn:hover { background-position: right; color: #fff; }
.btn:focus { box-shadow: 0 5px 15px rgba(35, 35, 35, 0.16); outline: none; border: none; }

/* Title */
.title {
  position: relative;
  display: inline-block;
  color: #232323;
  font-weight: 600;
  padding-bottom: 25px;
}
.title:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #00ffd4, transparent);
}

/* Header */
header { position: absolute; top: 0; left: 0; width: 100%; z-index: 5; }
header a { color: #232323; font-weight: 600; }
header a:hover,
header .navbar-nav .nav-item .active { color: #00b712; }
header .navbar-brand img { width: 100px; }
header ul li a { margin: 0 20px; cursor: pointer; }

/* Home-section */
.contact-page, .home-page { min-height: 100vh; }
.hero-section { height: 100vh; position: relative; }
.hero-section h1 {
  font-size: 80px;
  line-height: 80px;
  font-weight: 700;
  color: #232323;
  margin-bottom: 25px;
}
.hero-section h1 p {
  width: 100%;
  background: linear-gradient(to left, #23ff26, #00ffd4);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-section p { width: 60%; }
.hero-section .wrapper {
  width: 135%;
  height: auto;
  position: relative;
  top: -200px;
  left: 0;
}
.hero-section .wrapper:after {
  content: "";
  position: absolute;
  top: 30px;
  right: 10px;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #23ff26, #00ffd4);
  z-index: -1;
  border-radius: 50%;
  opacity: 0.2;
}
.hero-section .img-wrapper {
  overflow: hidden;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.hero-section .img-wrapper img { width: 100%; }

/* Service-section */
.service-section { overflow: visible; }
.search-wrapper {
  position: relative;
  margin-bottom: 100px;
  box-shadow: 0 10px 20px rgba(35, 35, 35, 0.16);
  padding: 63px 60px;
  font-family: "poppins", sans-serif;
}
.search-wrapper .search-title { font-weight: 600; }
.select-menu { position: relative; }
.select-menu input {
  border: 0;
  border-bottom: 1px solid #000;
  width: 100%;
  font-weight: 600;
  padding: 15px 0;
  font-size: 22px;
  line-height: 30px;
}
.select-menu input:focus {
  outline: none;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}
.select-menu input:focus + .options { opacity: 1; visibility: visible; }
.select-menu:after {
  content: "\f054";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-family: "Font Awesome 5 Free";
  color: #232323;
  font-size: 17px;
  font-weight: 900;
}
.select-menu .options {
  list-style: none;
  padding: 25px 20px;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  min-width: 140px;
  background: #fff;
  z-index: 2;
  box-shadow: 0 10px 20px rgba(35, 35, 35, 0.16);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}
.select-menu .options .option {
  font-weight: 500;
  letter-spacing: 0.2px;
  margin-bottom: 25px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.select-menu .options .option span { text-decoration: none; color: #868686; }
.select-menu .options .option span:hover { color: #232323; }
.select-menu .options .option:last-of-type {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
.result-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #fff;
  transform: scaleY(0);
  transform-origin: top center;
  overflow: hidden;
  z-index: 1;
  box-shadow: 0 10px 20px rgba(35, 35, 35, 0.1);
  transition: 0.3s ease-in-out;
}
.result-wrapper .inner-wrap { padding: 63px 60px 25px; transition: 0.3s ease-in-out; }
.result-wrapper .title {
  font-size: 30px;
  padding-bottom: 10px;
  margin-bottom: 50px;
}
.service-block img { width: 100%; margin-bottom: 20px; }
.service-block h4 { color: #232323; margin-bottom: 20px; }
.service-block p { margin-bottom: 0; }

/* Tour-Section */
.tour-section .title { margin-bottom: 100px; }
.tour-wrapper { box-shadow: 0 10px 10px rgba(35, 35, 35, 0.16); height: 100%; }
.tour-wrapper img { width: 100%; }
.tour-wrapper figure { margin: 0; }
.tour-wrapper figcaption {
  position: relative;
  padding: 25px;
  background-color: white;
}
.tour-wrapper figcaption h4 a { color: #232323; cursor: pointer; transition: 0.3s ease-in-out; }
.tour-wrapper figcaption h4 a:hover { color: #00b903; }
.tour-wrapper figcaption .price {
  background: linear-gradient(to right, #23ff26, #00ffd4);
  padding: 5px 23px;
  color: #fff;
  position: absolute;
  top: -15px;
  right: 0;
  text-transform: uppercase;
  margin: 0;
}

/* testimonial-section */
.testimonial-section .title { margin-bottom: 100px; }
.testimonial-section .swiper-slide img {
  width: 94px;
  height: 94px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 3px 20px rgba(35, 35, 35, 0.1);
}
.testimonial-section .swiper-slide .name { color: #232323; margin-bottom: 0; }
.testimonial-section .swiper-slide .profession { color: #7dff9f; font-size: 12px; }
.testimonial-section .swiper-wrapper { padding: 0 0 50px; }
.testimonial-section .swiper-slide .row {
  background: #fff;
  padding: 25px;
  box-shadow: 5px 10px 25px rgba(35, 35, 35, 0.1);
  border-radius: 10px;
}
.testimonial-section .swiper-container .fas.fa-quote-left {
  position: absolute;
  top: 50%;
  left: 300px;
  transform: translateY(-50%);
  font-size: 90px;
  background: linear-gradient(to left, #23ff26, #00ffd4);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.3;
}

/* post-section */
.post-section .title { margin-bottom: 100px; }
.post { box-shadow: 0 10px 10px rgba(35, 35, 35, 0.16); height: 100%; }
.post-section figure { margin: 0; position: relative; }
.post-section figure img { width: 100%; }
.post-section figure .left-block {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 25px;
  background-color: #fff;
}
.post-section figure .left-block .date {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  display: block;
  color: #232323;
}
.post-section figcaption { padding: 25px; }
.post-section figcaption h4 { color: #232323; margin-bottom: 15px; }

/* Footer */
footer {
  position: relative;
  padding: 50px 0 180px;
  background-color: #b1ffc5;
  margin-top: 250px;
}
footer .footer-bg {
  position: absolute;
  width: 100%;
  bottom: 50%;
  left: 0;
  opacity: 0.6;
  z-index: -1;
}
footer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
}
footer form input[type="email"] {
  padding: 25px;
  width: 500px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  font-family: "poppins", sans-serif;
  transition: 0.3s ease-in-out;
  outline: none;
}
footer form input[type="submit"] {
  padding: 25px 50px;
  border: none;
  border-radius: 10px;
}
footer .footer-logo { margin-bottom: 30px; }
footer h4 {
  color: #232323;
  margin-bottom: 20px;
  margin-top: 20px;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer ul li { margin-bottom: 10px; }
footer ul li .nav-link { padding: 0; }
footer ul li .nav-link.active { color: #000; font-weight: 700; }
footer a { color: #828282; text-decoration: none; }

/* contact page */
.contact-page { margin-top: 90px; }
.contact-page .hero-section { height: auto; padding: 200px 0; }
.page-title {
  background: linear-gradient(to left, #23ff26, #00ffd4);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.breadcrumb .breadcrumb-item,
.breadcrumb .breadcrumb-item a {
  font-family: "poppins", sans-serif;
  font-size: 22px;
  text-decoration: none;
  color: #232323;
  transition: 0.3s ease-in-out;
}
.breadcrumb .breadcrumb-item a:hover { color: #23ff26; }
.contact-box { padding: 100px 0; }
.contact-box .box-wrapper { margin-bottom: 150px; }
.contact-box .wrapper {
  padding: 60px;
  height: 100%;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 10px 20px rgba(23, 23, 23, 0.1);
  display: flex;
  align-items: flex-start;
  color: #232323;
}
.contact-box .wrapper i { font-size: 65px; margin-right: 30px; }
.contact-box .wrapper .wrapper-content h4 { font-size: 20px; }
.contact-box .wrapper .wrapper-content a {
  display: inline-block;
  width: auto;
  color: #232323;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
.contact-box .wrapper .wrapper-content a:hover { color: #23ff26; }
.contact-box input,
.contact-box textarea {
  display: inline-block;
  width: 100%;
  border: 1px solid #d6d6d6;
  box-shadow: none;
  border-radius: 5px;
  padding: 20px 25px;
  font-size: 18px;
  line-height: 25px;
  transition: 0.3s ease-in-out;
}
.contact-box input:focus,
.contact-box textarea:focus {
  outline: none;
  box-shadow: none;
  border-color: #00ffd4;
}

.input-wrapper { margin-bottom: 45px; }
.input-wrapper label {
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 15px;
  color: #232323;
}
.input-wrapper .message {
  color: green;
  font-size: 18px;
  margin-top: 10px;
  display: inline-block;
}
.input-wrapper.error .message {
  color: red;
}
.input-wrapper.error input:focus {
  border-color: red;
}

.pop-up-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(23, 23, 23, 0.1);
  padding: 100px 25px;
  width: 50%;
  text-align: center;
  z-index: 5;
}
.pop-up-message img {
  width: 50%;
  margin-bottom: 40px;
}
.pop-up-message .close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 23px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.pop-up-message .close-btn:hover {
  color: red;
}
.pop-up-message p {
  width: 50%;
  margin: 0 auto;
  font-size: 22px;
  line-height: 30px;
  font-weight: 600;
  color: #232323;
}

/* Destination Page */
.destination-page {
  margin-top: 90px;
}
.destination-page .hero-section {
  height: auto;
  padding: 200px 0;
}

/* Destination Detail page */
.destination-detail-page {
  margin-top: 90px;
}
.destination-detail-page .hero-section {
  padding: 250px 0;
  background-size: cover;
  background-position: center bottom;
  height: auto;
  position: relative;
  color: #fff;
}

.destination-detail-page .hero-section:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(23, 23, 23, 0.3);
  z-index: 0;
}

.destination-detail-page .hero-section .page-title {
  position: relative;
  font-size: 50px;
  text-align: center;
  margin: 0 auto;
  -webkit-text-fill-color: #fff;
  font-weight: 600;
}

.tour-details-head { flex-wrap: wrap; } 

.card-wrapper {
  position: relative;
  padding: 50px 0;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(23, 23, 23, 0.1);
  transition: 0.3s ease-in-out;
}

.card-wrapper:active {
  transform: scale(0.9);
}

.card-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(23, 23, 23, 0.3);
}

.card-wrapper .card-title {
  text-align: center;
  color: white;
  position: relative;
}

.extra-details-wrapper {
  list-style: none;
  padding: 0;
  margin: 0;
}
.extra-details-wrapper li {
  display: flex;
  border-bottom: 1px solid #dedede;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.extra-details-wrapper li:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 0;
}
.extra-details-wrapper li > * {
  flex: 0 0 50%;
  width: 50%;
  font-size: 15px;
}
.extra-details-wrapper li strong {
  color: #232323;
}
.extra-details-wrapper li p {
  margin-bottom: 0;
}
.extra-details-wrapper .including-details {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.extra-details-wrapper .including-details li {
  position: relative;
  flex: 0 0 50%;
  width: 50%;
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 25px;
}
.extra-details-wrapper .including-details li:before {
  content: "\2713";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 700;
  color: green;
}